<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Payment Page</title>
    <link rel="stylesheet" href="/css/payment/failed.css">
</head>

<body>

<header>
    <h2 class="logo">Logo</h2>
</header>

<div class="wrapper">
    <div class="form-box">
        <h2>Something went wrong!</h2>
        <div class="return-link">
            <p>
                <br>
                <a href="/user" class="home-link">Go back</a>
            </p>
        </div>
    </div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
